/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #FAFAFA;
}

.fixed-button-left {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.fixed-button-right {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.round-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #068D9D;
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

.round-button:hover {
  background-color: #F87060;
}

.square_grid{
  background-color: #2B303A;
  margin: 75px;
  border: 7px solid #2B303A;
  border-radius: 255px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.square_wrapper {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  justify-self: center;
  margin: 25px;
}

.square_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.square_wrapper:hover .square_inner {
  transform: rotateY(180deg);
}

.recto.is-flipped{
  transform: translateX(-100%) rotateY(-180deg);
}

.recto, .verso {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;
}

.recto {
  background-color: #068D9D;
  height: 100%;
}

.verso {
  background-color: #F87060;
  transform: rotateY(180deg);
  height: 100%;
}

@media screen and (min-width: 576px) {
  .square_inner {
    max-width: 80px;
    max-height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .square_inner {
    max-width: 100px;
    max-height: 100px;
  }
}

@media screen and (min-width: 992px) {
  .square_inner {
    max-width: 200px;
    max-height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .square_inner {
    max-width: 300px;
    max-height: 300px;
  }
}


.icon_presentation_wrapper {
  height: 100%;
}

.presentation_icon{
  height: 100%;
}

.square_content {
  font-size: 18px;
  color: #2B303A;
  text-decoration: none;
}

.verso a:hover {
  color: #FAFAFA;
}